name: Secret Scanning

on:
  pull_request:
    branches: [master]

jobs:
  scan-secrets:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Gitleaks to detect secrets
        uses: zricethezav/gitleaks-action@v2
